<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Customer</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Customer Detail</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="customer" #editForm="ngForm" (ngSubmit)="save()">
    
      <div class="form-group">
        <label for="id">Id</label>
        <input type="number" [(ngModel)]="customer.id" id="id" name="id" class="form-control">
      </div>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" [(ngModel)]="customer.first_name" id="first_name" name="first_name" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" [(ngModel)]="customer.last_name" id="last_name" name="last_name" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" [(ngModel)]="customer.email" id="email" name="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" [(ngModel)]="customer.address" id="address" name="address" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
